@tailwind base;
@tailwind components;
@tailwind utilities;



/* .section-hp {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .hash2 {
    text-align: center;
    margin-bottom: 2rem;
}

.spausk-button {
    margin: auto;
    width: 50%;
} */